[user]
    name = Ramin Rakhamimov
    email = ramin32@gmail.com
[alias]
    c = checkout
    b = branch
    s = status
    l = log
    p = push origin master
[color]
	diff = auto
[push]
	default = simple
