[user]
    name = Ramin Rakhamimov
    email = ramin32@gmail.com
[alias]
    c = checkout
    b = branch
    s = status
    l = log
    p = push origin master
[log]
      date = format:%a %m/%d/%y %I:%M %p  
[format]
      pretty = format:%h %an %Cblue%ad%Creset %Cgreen%s%Creset
[push]
	default = simple
[core]
	editor = vim
