[user]
    name = Ramin Rakhamimov
    email = ramin32@gmail.com
[alias]
    c = checkout
    b = branch
    s = status
    l = log
    p = push origin master
[log]
[format]
      pretty = format:%h %Cblue%ad%Creset %ae %Cgreen%s%Creset
[push]
	default = simple
