xset s 600 & 
xset -b &
xrdb ~/.Xdefaults &
setxkbmap -option caps:none &
source ~/.profile &
feh --bg-scale ~/.background.jpg &
xset +fp /usr/share/fonts/X11/misc &
xset fp rehash &
xscreensaver -no-splash &
compton &
nm-applet &
